<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission To Mars</title>
        <!--Bootstrap requires JQuery, Popper.JS and JS plugins-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Customized CSS Link -->
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <div class="container-fluid px-0">
          <div class="jumbotron text-center">
            <h1 class="display-4">Mission To Mars</h1>
            <p><a id="scrape-btn" class="btn btn-info btn-xs py-1" href="/scrape" role="button" onclick="if (!this.clicked){this.clicked = true; setTimeout('document.getElementById(scrape-btn).clicked = false;' , 60000); return true;} return false">Scrape New Data</a></p>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h3 class="font-weight-bold">Latest Mars News</h3>
              <p class="font-weight-bold extra-130">{{latest.nasa_mars_news_data[0]}}</p>
              <p>{{latest.nasa_mars_news_data[1]}}</p>
            </div>
            <div class="col-sm-12 col-lg-8">
              <h3 class="font-weight-bold">Featured Mars Image</h3>
              <img class="img-responsive fit-image" src="{{ latest.scrape_featured_image_url_data }}" alt="featured image">
              <div class="showme col-12">
                <blockquote class="blockquote pt-4">
                  <p>“Mars tugs at the human imagination like no other planet. With a force mightier than gravity, it attracts the eye to the shimmering red presence in the clear night sky.”</p>
                </blockquote>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="row">
                <div class="col-12 mt-4">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="font-weight-bold card-title">Current Weather on Mars</h3>
                      <p class="card-text">{{ latest.scrape_mars_weather_data }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-12  mt-4">
                  <h3 class="font-weight-bold">Mars Facts</h3>
                  {{latest.scrape_mars_facts_data | safe}}
                </div>
              </div>
            </div>
            <div class="container mt-5">
              <div class="row">
                <div class="col-12 text-center">
                  <h3 class="font-weight-bold">Mars Hemispheres</h3>
                  <hr/>
                </div>
                {% for item in latest.scrape_hemispheres_data %}
                <div class="col-sm-12 col-md-6 text-center px-3 py-3">
                  <div class="card">
                    <img class="card-img-top img-responsive fit-image" src="{{ item.img_url }}" alt="hemisphere image">
                    <div class="card-body">
                      <p class="card-text">{{item.title}}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

      </body>

</html>